<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wrx886.shangting_apartment_server.web.admin.mapper.LabelInfoMapper">
    <!-- 根据 公寓 id 查询 LabelInfo -->
    <select 
        id="selectListByApartmentId"
        resultType="com.github.wrx886.shangting_apartment_server.model.entity.LabelInfo"
    >
        SELECT *
        FROM label_info
        WHERE is_deleted = 0 
        AND id in (SELECT *
            FROM apartment_label
            WHERE
                is_deleted = 0
                AND apartment_id = #{id})
    </select>
</mapper>
