<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wrx886.shangting_apartment_server.web.admin.mapper.RoomLabelMapper">
    <select id="selectByRoomId" resultType="com.github.wrx886.shangting_apartment_server.model.entity.LabelInfo">
        SELECT 
            rl.id AS id,
            rl.type AS type,
            rl.name AS name,
        FROM room_label as rl
            LEFT JOIN label_info AS li ON li.is_deleted = 0 AND li.id = rl.label_id
        WHERE rl.is_deleted = 0 
            AND rl.room_id = #{id}
    </select>
</mapper>